* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
main {
    background-color: #BCB8B1;
    text-align: center;
    height: 100vh;
    padding: 25px;
}
.container {
    height: 70vmin;
    width: 70vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 1vmin;
    padding: 20px;
    margin: auto;
}
.box {
    height: 22vmin;
    width: 22vmin;
    border: 3px solid #8A817C;
    font-size: 7vmin;
    color: #463F3A;
    border-radius: 12px;
    background-color: #F4F3EE;
}
.reset {
    height: 10vmin;
    width: 25vmin;
    position: relative;
    border-radius: 12px;
    right: 1vmin;
    font-size: large;
    background-color: #463F3A;
    color: #F4F3EE;
}
.winner {
    position: absolute;
    top: 20vh;
    width: 90vw;
    max-width: 400px;
    margin: auto;
    height: 30vmin;
    background-color: #F4F3EE;
    z-index: -999;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid #463F3A;
    border-radius: 15px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    transition: all 0.2s ease-in-out;
}
.ok {
    width: 50%;
    height: 20%;
    margin: 10%;
    border: 1px solid #8A817C;
    border-radius: 10px;
}
.text {
    font-size: larger;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -998;
    transition: all 0.15s ease-in-out;
}
